{% load static from staticfiles %}
<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
<script type="text/javascript" src='{% static 'webcomponentsjs/webcomponents.js' %}'></script>
<link rel="stylesheet" type="text/css" href='{% static 'css/main.css'%}'>
<link rel="import" href='{% static 'paper-checkbox/paper-checkbox.html'%}'>
<style shim-shadowdom>
  
    body {
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      margin: 0;
      padding: 24px;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
    }
    
    paper-checkbox {
      padding: 20px 20px 20px 0;
    }
    
    section {
      width: 300px;
    }
    
    paper-checkbox.blue::shadow #ink[checked] {
      color: #BBDEFB;
    }

    paper-checkbox.blue::shadow #checkbox.checked {
      background-color: #2196F3;
      border-color: #2196F3;
    }
    
  </style>


<h1>Hola Mundo</h1>

<core-label horizontal layout>
      <paper-checkbox for></paper-checkbox>
      <div horizontal layout>
        <h4>Notifications</h4>
        <div>Notify me about updates to apps or games that I've downloaded</div>
      </div>
    </core-label>