
@import 'normalize.styl/normalize.styl'
blue_pantone = #001489
orange_pantone = #ff6c2f
grey_strong = #2E2E2E



body
	font-family 'Roboto', sans-serif
	
	
.link
	text-decoration none
	color orange_pantone
.bg
	&-orange
		background-color orange_pantone

.header-panel
	height 7em
	background-image url('../img/fondo.jpg')
.header-panel > *
	margin 0	
.container
	display flex
	flex-direction row
	align-content center
	
.header
		background blue_pantone
		height 130px
.block
	display block
.Login
	&-formContainer
		flex-grow 1
		margin-top 5em
		margin-right 4em
		background-color white
		border-radius 2px
	&-form
		padding 3em
	&-button
		display block
		background-color transparent
		border none
		padding 0
		margin-top 1em				
.Introduction
	flex-grow 1
	width 600px
	&-mainContainer
		padding 6em
	&-imgContainer
		float left
	&-img
		height 150px
		width 300px
	&-contentContainer
	&-content
		color grey_strong
		font-weight 300

.avatarContainer
	position absolute
	top 10px 
	left 0
	
.avatar
	width 70px
	height 70px
	border-radius 50%			
					

		
