
@import 'normalize.styl/normalize.styl'
blue_pantone = #001489
orange_pantone = #ff6c2f

.bg
	&-orange
		background-color orange_pantone

.header-panel
	height 7em
	
.Login
	&-header
		background blue_pantone
		height 130px